@model List<TeamDetailsViewModel>

@{
    ViewData["Title"] = "Διαχείρηση Ομάδων";
}

<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1">Διαχείρηση Ομάδων</h1>
    <div>
        <a class="btn btn-primary"
           asp-controller="Teams" asp-action="Create">
            Δημιουργία νέας ομάδες
        </a>
    </div>
</div>

@if (Model == null || Model.Count == 0)
{
    <div class="text-center">
        <h2>Δεν βρέθηκαν δεδομένα.</h2>
    </div>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Όνομα</th>
            <th>Ενέργειες</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.Name</td>
                <td>
                    <a href="@Url.Action("Details", "Teams", new { id = team.Id })" class="btn btn-info">Προβολή</a>
                    <a href="@Url.Action("Edit", "Teams", new { id = team.Id })" class="btn btn-primary">Επεξεργασία</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <ul class="pagination justify-content-center mt-5">
        @for (var pageIndex = 1; pageIndex <= ViewBag.PageInfo.TotalPages; pageIndex++)
        {
            <li class="page-item @(ViewBag.PageInfo.CurrentPage == pageIndex ? "active" : "")">
                <a class="page-link" asp-controller="Teams" asp-action="List" asp-route-pageIndex="@pageIndex">@(pageIndex)</a>
            </li>
        }
    </ul>
}