@{
    string GetActive(string controller, string action)
    {
        return ViewContext.RouteData.Values["Action"] != null &&
               ViewContext.RouteData.Values["Controller"] != null &&
               ViewContext.RouteData.Values["Action"].ToString() == action &&
               ViewContext.RouteData.Values["Controller"].ToString() == controller
            ? "active"
            : "";
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Μουσείο Κυνηγιού</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Κυνήγι</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link @(GetActive("Home", "Index"))"
                           asp-controller="Home" asp-action="Index">
                            Αρχική
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(GetActive("Teams", "List"))"
                           asp-area="" asp-controller="Teams" asp-action="List">
                            Ομάδες
                        </a>
                    </li>
                    @if (User.Identity is { IsAuthenticated: true } && (User.IsInRole("Admin") || User.IsInRole("Μοδερατορ")))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(GetActive("Teams", "Management"))"
                               asp-controller="Teams" asp-action="Management">
                                Διαχείρηση Ομάδων
                            </a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav">
                    @if (User.Identity is { IsAuthenticated: true })
                    {
                        <li class="nav-item">
                            <a class="nav-link @(GetActive("Account", "Account"))"
                               asp-controller="Account" asp-action="Account">
                                Λογαριασμός
                            </a>
                        </li>
                        <li class="nav-item">
                            <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                                <button type="submit" class="btn btn-link nav-link">Αποσύνδεση</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link @(GetActive("Home", "Login"))"
                               asp-controller="Account" asp-action="Login">
                                Σύνδεση
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container mt-4">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>