@model TeamDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<h3 class="mb-4">Ενέργειες - @Model.Name</h3>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <a asp-controller="Team" asp-action="TeamDetails" asp-route-teamSlug="@Model.Slug" class="card-link">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Προβολή</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a asp-controller="Team" asp-action="EditTeam" asp-route-teamSlug="@Model.Slug" class="card-link">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Διαχείρηση</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a asp-controller="Team" asp-action="EditTeamManagers" asp-route-teamSlug="@Model.Slug" class="card-link">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Διαχειριστές</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a asp-controller="Team" asp-action="TeamMediaManagement" asp-route-teamSlug="@Model.Slug" class="card-link">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Υλικό</h5>
                </div>
            </div>
        </a>
    </div>
</div>

@if (Model.GamesHosted.Any())
{
    <h3 class="mb-4 mt-4">Παιχνίδια</h3>
    
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var game in @Model.GamesHosted)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@game.Year</h5>
                    </div>
                </div>
            </div>
        }
    </div>
}