@model List<TeamDetailsViewModel>

@{
    ViewData["Title"] = "Διαχείριση Ομάδων";
}

<div class="d-flex flex-wrap align-items-center mb-4">
    <h2 class="mb-0 me-3 display-5 flex-grow-1">Διαχείριση Ομάδων</h2>
    <div>
        <a class="btn btn-primary"
           asp-controller="Team" asp-action="CreateTeam">
            Δημιουργία
        </a>
    </div>
</div>

@if (Model == null || Model.Count == 0)
{
    <h2 class="mb-4 display-5 text-center">Δεν βρέθηκαν δεδομένα.</h2>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Όνομα</th>
            <th>Ενέργειες</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.Name</td>
                <td>
                    <a href="@Url.Action("TeamDetails", "Team", new { teamSlug = team.Slug })" class="btn btn-info">Προβολή</a>
                    <a href="@Url.Action("EditTeam", "Team", new { teamSlug = team.Slug })" class="btn btn-primary">Επεξεργασία</a>
                    <a href="@Url.Action("EditTeamManagers", "Team", new { teamSlug = team.Slug })" class="btn btn-primary">Διαχείρηση Διαχειριστών</a>
                    <a href="@Url.Action("TeamMediaManagement", "Team", new { teamSlug = team.Slug })" class="btn btn-primary">Διαχείρηση Υλικού</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <ul class="pagination justify-content-center mt-5">
        @for (var pageIndex = 1; pageIndex <= ViewBag.PageInfo.TotalPages; pageIndex++)
        {
            <li class="page-item @(ViewBag.PageInfo.CurrentPage == pageIndex ? "active" : "")">
                <a class="page-link" asp-controller="Team" asp-action="TeamList" asp-route-pageIndex="@pageIndex">@(pageIndex)</a>
            </li>
        }
    </ul>
}