@model PaginatedViewModel<TeamDetailsViewModel>

@{
    ViewData["Title"] = "Ομάδες";
}

<style>
    .team-card {
        transition: transform 0.2s;
        width: 100%;
    }

    .team-card:hover {
        transform: scale(1.03);
    }

    .card-img-top-wrapper {
        height: 320px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f9fa;
    }

    .card-img-top {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
</style>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Ομάδες</li>
</ol>

@if (Model == null || !Model.Items.Any())
{
    <h4 class="mb-4 text-center">Δεν βρέθηκαν αποτελέσματα.</h4>
}
else
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
        @foreach (var team in Model.Items)
        {
            <div class="col px-1">
                <a asp-controller="Team" asp-action="TeamDetails" asp-route-teamId="@team.TeamId" class="text-decoration-none">
                    <div class="card h-100 team-card">
                        <div class="card-img-top-wrapper">
                            @if (string.IsNullOrEmpty(team.ProfileImagePath))
                            {
                                <img src="~/media/profile.jpg" class="card-img-top" alt="Default Team Image">
                            }
                            else
                            {
                                <img src="~/@Url.Content(team.ProfileImagePath)" class="card-img-top" alt="@team.Name">
                            }
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-center">@team.Name</h6>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    @if (Model.TotalPages > 1)
    {
        <nav class="mt-4">
            <ul class="pagination justify-content-center">
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" asp-action="TeamList" asp-route-pageNumber="@i" asp-route-pageSize="@Model.PageSize">@i</a>
                    </li>
                }
            </ul>
        </nav>
    }
}