@model GameDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="row">
    <div class="col-md-3">
        @if (string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="~/media/profile.jpg" class="img-fluid" alt="Default Team Image">
        }
        else
        {
            <img src="~/@Model.ImageUrl" class="img-fluid" alt="Team Image">
        }
        <div>
            <p>
                <strong>Χρονιά:</strong> @Model.Year
            </p>
            <p>
                <strong>Διοργανωτής:</strong> @Model.Host
            </p>
            <p>
                <strong>Νικητής:</strong> @Model.Winner
            </p>
        </div>
    </div>
    <div class="col-md-9">
        <h1 class="mb-4">@Model.Title</h1>

        <ul class="nav nav-tabs" role="tablist">
            @for (int i = 0; i < Model.SubGamesList.Count; i++)
            {
                var isActive = i == 0 ? "active" : ""; // Make the first tab active by default
                var element = Model.SubGamesList.ElementAt(i);

                <li class="nav-item" role="presentation">
                    <a class="nav-link @(isActive)" data-bs-toggle="tab" href="#@element.Id" aria-selected="@(isActive == "active" ? "true" : "false")" role="tab">@element.GameType</a>
                </li>
            }
        </ul>
        <div id="myTabContent" class="tab-content">
            @for (int i = 0; i < Model.SubGamesList.Count; i++)
            {
                var element = Model.SubGamesList.ElementAt(i);
                <div class="tab-pane fade @(i == 0 ? "show active" : "")" id="@element.Id" role="tabpanel">
                    <p>@element.Description</p>
                </div>
            }
        </div>


    </div>
</div>