@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model GameDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="row">
    <div class="col-md-4">
        @if (string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="~/media/profile.jpg" class="img-fluid" alt="Default Team Image">
        }
        else
        {
            <img src="~/@Model.ImageUrl" class="img-fluid" alt="Team Image">
        }
        <div>
            <p>
                <strong>Χρονιά:</strong> @Model.Year
            </p>
            <p>
                <strong>Διοργανωτής:</strong> @Model.Host
            </p>
            <p>
                <strong>Νικητής:</strong> @Model.Winner
            </p>
        </div>
    </div>
    <div class="col-md-8">
        <h1 class="mb-4">@Model.Title</h1>

        <div class="accordion" id="games-list">
            @foreach (var game in Model.SubGamesList)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="sub-game-heading-@game.Id">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sub-game-collapse-@game.Id" aria-expanded="false" aria-controls="sub-game-collapse-@game.Id">
                            @game.GameType
                        </button>
                    </h2>
                    <div id="sub-game-collapse-@game.Id" class="accordion-collapse collapse" aria-labelledby="sub-game-heading-@game.Id" data-bs-parent="#games-list" style="">
                        <div class="accordion-body">
                            @game.Description
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>