@model List<GameDetailsViewModel>

@{
    ViewData["Title"] = "Όλα τα Παιχνίδια";
}

@if (Model == null || Model.Count == 0)
{
    <h2 class="mb-4 display-5 text-center">Δεν βρέθηκαν δεδομένα.</h2>
}
else
{
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card">
                    @if (string.IsNullOrEmpty(item.ProfileImageUrl))
                    {
                        <img src="~/media/profile.jpg" class="card-img-top" alt="Default Game Image">
                    }
                    else
                    {
                        <img src="~/@item.ProfileImageUrl" class="card-img-top" alt="Game Image">
                    }
                    <div class="card-body">
                        <h3 class="card-title">@item.Title</h3>
                        <h5 class="card-title">@item.Year</h5>
                        <a class="card-link" asp-controller="Games" asp-action="Details" asp-route-id="@item.Id">Πληροφορίες</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <ul class="pagination justify-content-center mt-5">
        @for (var pageIndex = 1; pageIndex <= ViewBag.PageInfo.TotalPages; pageIndex++)
        {
            <li class="page-item @(ViewBag.PageInfo.CurrentPage == pageIndex ? "active" : "")">
                <a class="page-link" asp-controller="Games" asp-action="List" asp-route-pageIndex="@pageIndex">@(pageIndex)</a>
            </li>
        }
    </ul>
}