@model PaginatedViewModel<AppUserDetailsViewModel>

@{
    ViewData["Title"] = "Διαχείριση Χρηστών";
}

<h2 class="mb-4">Διαχείριση Χρηστών</h2>

@if (Model == null || !Model.Items.Any())
{
    <h2 class="mb-4 text-center">Δεν βρέθηκαν αποτελέσματα.</h2>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Ενέργειες</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Items)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a href="@Url.Action("EditRoles", "Account", new { userId = user.Id })" class="btn btn-primary">Επεξεργασία Ρόλων</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    @if (Model.TotalPages > 1)
    {
        <nav class="mt-4">
            <ul class="pagination justify-content-center">

                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" asp-controller="Account" asp-action="UserManagement" asp-route-pageNumber="@i" asp-route-pageSize="@Model.PageSize">@i</a>
                    </li>
                }

            </ul>
        </nav>
    }
}