@model GamePuzzleDetailsViewModel

@{
    ViewData["Title"] = Model.GameDetails.Type;
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        <a asp-controller="Game" asp-action="ParentGameList">Παιχνίδια</a>
    </li>
    <li class="breadcrumb-item">
        <a asp-controller="Game" asp-action="ParentGameDetails" asp-route-gameYear="@Model.GameDetails.Year">@($"{Model.GameDetails.Title} ({Model.GameDetails.Year})")</a>
    </li>
    <li class="breadcrumb-item active">@Model.GameDetails.Type</li>
</ol>


<div class="accordion">
    @foreach (var puzzle in Model.PuzzleList)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="mainHeading@(puzzle.Id)">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mainCollapse@(puzzle.Id)" aria-expanded="false" aria-controls="mainCollapse@(puzzle.Id)">
                    @($"{puzzle.Order}ος Γρίφος")
                </button>
            </h2>
            <div id="mainCollapse@(puzzle.Id)" class="accordion-collapse collapse" aria-labelledby="mainHeading@(puzzle.Id)" data-bs-parent="#mainPuzzleAccordion">
                <div class="accordion-body">
                    <div class="mb-3">
                        <h5>Γρίφοος:</h5>
                        <p>@puzzle.Question</p>
                        @if (puzzle.QuestionMedia.Any())
                        {
                            <p>Question Media Files: @puzzle.QuestionMedia.Count</p>
                        }
                    </div>
                    <div>
                        <h5>Απάντηση:</h5>
                        <p>@puzzle.Answer</p>
                        @if (puzzle.AnswerMedia.Any())
                        {
                            <p>Answer Media Files: @puzzle.AnswerMedia.Count</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>