@model ParentGameDetailsViewModel

@{
    ViewData["Title"] = FullGameTitle(Model.MainTitle, Model.SubTitle, Model.Year);
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        <a asp-controller="Game" asp-action="ParentGameList">Παιχνίδια</a>
    </li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ol>

<div class="container">
    <div class="row gy-4 gy-lg-0">
        <div class="col-12 col-lg-4 col-xl-3">
            <div class="row gy-4">
                <div class="col-12">
                    <div class="card widget-card border-light shadow-sm">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                @if (string.IsNullOrEmpty(Model.ProfileImageUrl))
                                {
                                    <img src="~/media/profile.jpg" class="img-fluid" alt="Default Team Image">
                                }
                                else
                                {
                                    <img src="~/@Url.Content(Model.ProfileImageUrl)" class="card-img-top" alt="@Model.MainTitle">
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card widget-card border-light shadow-sm">
                        <div class="card-header text-bg-primary">Διοργάνωση</div>
                        <div class="card-body">
                            <a type="button" class="btn btn-link" asp-controller="Team" asp-action="TeamDetails" asp-route-teamId="@Model.HostId">@Model.Host</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card widget-card border-light shadow-sm">
                        <div class="card-header text-bg-primary">Νικητές</div>
                        <div class="card-body">
                            <a type="button" class="btn btn-link" asp-controller="Team" asp-action="TeamDetails" asp-route-teamId="@Model.WinnerId">@Model.Winner</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card widget-card border-light shadow-sm">
                        <div class="card-header text-bg-primary">Άνα Ημέρα</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                @foreach (var game in Model.GameList)
                                {
                                    <li class="list-group-item">
                                        <a asp-controller="Game" asp-action="PuzzleList" asp-route-gameYear="@game.Year" asp-route-gameId="@game.GameId">@game.GameType</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 col-xl-9">
            <div class="card widget-card border-light shadow-sm">
                <div class="card-body p-4">
                    <ul class="nav nav-tabs" id="profileTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Περιγραφή</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link @(Model.MediaFiles == null || !Model.MediaFiles.Any() ? "disabled" : "")" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos-tab-pane" type="button" role="tab" aria-controls="photos-tab-pane" aria-selected="true">Υλικό</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-4" id="profileTabContent">
                        <div class="tab-pane show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                            <p class="lead mb-4">@Model.Description</p>
                            
                        </div>
                        <div class="tab-pane" id="photos-tab-pane" role="tabpanel" aria-labelledby="photos-tab" tabindex="0">
                            @if (Model.MediaFiles != null && Model.MediaFiles.Any())
                            {
                                @await Html.PartialAsync("_MediaGallery", Model.MediaFiles)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@functions {

    static string FullGameTitle(string maintitle, string subTitle, short year)
    {
        var title = $"{maintitle} ({year})";

        if (!string.IsNullOrEmpty(subTitle))
        {
            title = $"{title} - {subTitle}";
        }

        return title;
    }

}