@model List<ParentGameDetailsViewModel>

@{
    ViewData["Title"] = "Διαχείριση Παιχνιδιών";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="mb-0">@ViewData["Title"]</h3>
    <div>
        <a class="btn btn-primary"
           asp-controller="Game" asp-action="CreateParentGame">
            Δημιουργία
        </a>
    </div>
</div>

@if (Model == null || Model.Count == 0)
{
    <h3 class="mb-4 text-center">Δεν βρέθηκαν αποτελέσματα.</h3>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Τίτλος</th>
            <th>Διοργανωτής</th>
            <th>Ενέργειες</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.Host</td>
                <td>
                    <a href="@Url.Action("GameDetails", "Game", new { gameYear = game.Year })" class="btn btn-info">Προβολή</a>
                    <a href="@Url.Action("EditParentGame", "Game", new { gameYear = game.Year })" class="btn btn-primary">Επεξεργασία</a>
                    <a href="@Url.Action("GameList", "Game", new { gameYear = game.Year })" class="btn btn-primary">Παιχνίδια</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}