@model List<ParentGameDetailsViewModel>

@{
    ViewData["Title"] = "Παιχνίδια";
}

<style>
    .game-card {
        transition: transform 0.2s;
        width: 100%;
    }
    
    .game-card:hover {
        transform: scale(1.03);
    }
    
    .card-img-top-wrapper {
        height: 320px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f9fa;
    }
    
    .card-img-top {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
</style>

<h2 class="mb-4">@ViewData["Title"]</h2>

@if (Model == null || !Model.Any())
{
    <h4 class="mb-4 text-center">Δεν βρέθηκαν αποτελέσματα.</h4>
}
else
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
        @foreach (var game in Model)
        {
            <div class="col px-1">
                <a asp-controller="Game" asp-action="ParentGameDetails" asp-route-gameYear="@game.Year"
                   class="text-decoration-none">
                    <div class="card h-100 game-card">
                        <div class="card-img-top-wrapper">
                            @if (string.IsNullOrEmpty(game.ProfileImageUrl))
                            {
                                <img src="~/media/profile.jpg" class="card-img-top" alt="Default Game Image">
                            }
                            else
                            {
                                <img src="@Url.Content(game.ProfileImageUrl)" class="card-img-top" alt="@game.Title">
                            }
                        </div>
                        <div class="card-body">
                            <h4 class="card-title text-center">@($"{game.Title}({game.Year})")</h4>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}