@model ParentGameDetailsViewModel

@{
    ViewData["Title"] = Model.Year;
}

<style>
    .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-body i {
        font-size: 1.5rem;
        color: #2c3e50;
    }
</style>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        <a asp-controller="Home" asp-action="Dashboard">Διαχείριση</a>
    </li>
    <li class="breadcrumb-item active">@($"{Model.MainTitle} ({Model.Year})")</li>
</ol>

<div class="row row-cols-1 row-cols-md-4 g-4 mb-4">
    <div class="col">
        <a asp-controller="Game" asp-action="ParentGameDetails" asp-route-gameYear="@Model.Year"
           class="card-link">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Προβολή</h5>
                    <i class="bi bi-eye"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a asp-controller="Game" asp-action="EditParentGame" asp-route-gameYear="@Model.Year"
           class="card-link">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Επεξεργασία</h5>
                    <i class="bi bi-pencil"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a asp-controller="Game" asp-action="ParentMediaManagement" asp-route-gameYear="@Model.Year"
           class="card-link">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Υλικό</h5>
                    <i class="bi bi-card-image"></i>
                </div>
            </div>
        </a>
    </div>
</div>

<h4 class="mb-4">Παιχνίδια</h4>

<div class="row row-cols-1 row-cols-md-4 g-4 mb-4">
    @foreach (var game in Model.GameList)
    {
        <div class="col">
            <a asp-controller="Game" asp-action="GameActions" asp-route-gameYear="@Model.Year" asp-route-gameTypeSlug="@game.TypeSlug"
               class="card-link">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@game.GameType</h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>